    <footer class="footer">
      <div class="content has-text-centered">
        <small>copyright 2018 <a href="http://www.ospreyink.com">Osprey Ink & Pixel</a></small>
      </div>
    </footer>
  </body>
</html>