<% include partials/header %>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        National Parks Review
      </h1>
      <h2 class="subtitle">
        Curated reviews of America's beautiful national parks!
      </h2>
    </div>
  </div>
</section>

<% include partials/footer %>